/*
    Name: Dmitrii Mitin
    Id: 301255191
    Date: May 30, 2024
*/ 
#navbar_logo img{
    max-width: 150px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_text{
    font-size: 20px;
    
}

.nav_menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
}

.nav_menu a{
    text-decoration: none;
    color: black;
}

.nav_menu li{
    transition: 0.5s;
    background: linear-gradient(267deg, #0288d1 0.36%, rgb(57, 151, 131) 102.06%);
    padding: 0 6px;
    border-radius: 10px;
    box-shadow: 10px 8px 13px -2px rgba(0,0,0,0.75);
}

/* .nav_menu li:after{
    content: "";
    display: block;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; 
    background-color: black; 
    transition: 0.5s; 
}

.nav_menu li:hover:after{
    width: 100%;
    display: block;
    left: 0;
    bottom: -3px;
    height: 2px; 
    background-color: #0288d1;
    transition: 0.5s;  
} */

.nav_menu li:hover{
    font-size: 25px;
    transition: 0.5s;
}