/*
    Name: Dmitrii Mitin
    Id: 301255191
    Date: May 30, 2024
*/ 
body{
    background-image: url(../../assets/blurPict4.jpg);
}

#services{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.section{
    background:linear-gradient(245deg, rgb(53, 181, 91), 30.3%, rgb(47, 178, 178) 66.33%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.73);
    max-width: 240px;
    border-radius: 5px;
}

.section h3{
    text-align: center;
    border-top: 2px solid black;
    margin-top: 10px;
}

.section img{
    max-height: 130px;
}

.img img{
    max-width: 200px;
}