/*
    Name: Dmitrii Mitin
    Id: 301255191
    Date: May 30, 2024
*/ 
body{
  background-image: url(./assets/blurPict1.jpg);
}

#main_text{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.first_block{
  margin: 50px 0;
}

.second_block{
  margin: 50px 0;
}