/*
    Name: Dmitrii Mitin
    Id: 301255191
    Date: May 30, 2024
*/ 


body{
    background-image: url(../../assets/blurPict2.jpeg);
}

#about{
    display: flex;
}

.top_text p{
    text-align: center;
    font-size: 30px;
}

#photo_block img{
    width: 300px;
    margin: 10px;
    box-shadow: 10px 10px 15px -9px rgba(0, 0, 0, 0.75);
}

#intro_block p{
    padding: 20px 10px;
    font-size: 17px;
}

.about_skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about_skill{
    display: flex;
    gap: 0px;
    align-items: center;
    transition: 0.6s;
    padding-left: 30px;
}

.about_skill p{
    min-width: 330px;
    font-size: 18px;
    font-weight: 500;
}

.about_skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(210deg, rgb(27, 111, 77) 1.33%, rgb(118, 15, 15) 150.28%);
    opacity: 90%;
}

.link{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.link p{
    font-size: 18px;
    margin: 0;
}